{{!
  page: 'home',
  pageName: '',
  callouts: [{
    href: '/details/',
    img: '/assets/img/details_thumb.jpg',
    title: 'Details',
    text: 'Time and place, accommodations, and most of all the events lineup!'
  }, {
    href: '/support/',
    img: '/assets/img/support_thumb.jpg',
    title: 'Support',
    text: 'Support N-Counter through prayer and financial donations.'
  }, {
    href: '/resources/',
    img: '/assets/img/resources_thumb.jpg',
    title: 'Resources',
    text: 'Guides and necessary forms. All the resources you need for N-Counter.'
  }, {
    href: '/register/',
    img: '/assets/img/register_thumb.jpg',
    title: 'Register',
    text: 'Registration for individuals and Battalion rosters is now open.'
  }]
}}

{{#> layout}}
{{#*inline "content"}}
  <header>
    <div class="opacity"></div>
    <div class="container">
      <div class="intro-text">
        <img class="landingPageLogo" src="/assets/img/branding/NCounterLogoBlue_200px.png" alt="CSB N-Counter Logo">
        <br><br><br><br><br>
        <div class="exploreButton">  
          <h3 style="color:#fff;">Special Gathering for Leaders and Alumni<br>Saturday Night at 7pm in the Chapel</h3>
          <a href="#content-start" rel="relativeanchor" title="Navigate through the rest of the page" ><i class="fa fa-arrow-down fa-4x opacityRaiser"></i></a>
        </div>
      </div>
    </div>
  </header>
  <div id="content-start" rel="relativeanchor">

  {{#> pageSection heading="Special Gathering for Leaders and Alumni" subheading="Saturday Night at 7pm in the Chapel" sectionClass=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-7 newspaper-padding">
      <p class="announcement">
        If you are a leader, parent or alumni of Christian Service Brigade you are encouraged to attend a special gathering <strong>Saturday night</strong> at <strong>7pm</strong> in the <strong>Chapel</strong>!
      </p>
      <p class="announcement">
        There will be prizes, fellowship and a special session with Christian Service Brigade President Scott Haima.  You'll also have a chance to learn how Brigade is working to better serve our local churches, meet our 2020 Impact Goal, and much more.
      </p>
    </div>
    <div class="col-md-5">                   
      <img src="assets/img/joel-invites-alumni.jpg" style="width:100%" />
      <p style="text-align:center;margin-top:1em">Joel Fiscus, VP, Director of Field Staff and Ministry to Men</p>
    </div>     
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="N-Counter 2016" subheading="The Multi-Regional Battalion Event" sectionClass="home-callouts-wrapper"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12 short-announcement" id="registration-stats"></div>
  </div>
  <div class="row home__callouts">
    {{#each callouts}}
    <div class="home__callout col-md-3 col-sm-4">
      <div class="home__callout-top">
        <a href="{{href}}"><img alt="Inspired Page Image" src="{{img}}"></a>
        <h3 class="home__callout-heading"><a href='{{href}}'>{{title}}</a></h3>
      </div>
      <p class="text-muted">
        {{{text}}}
      </p>
    </div>
    {{/each}}
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="N-Counter Current News" subheading="Latest Announcements, Prayer Requests, and Event Details" sectionClass=""}}
  {{#* inline "content"}}
  <div id="news" class="row"></div>
  <div class="row">
    <div class="col-sm-12 news-show-more news-show-more-wrapper">
      <button class="theme-button">Show Older Posts</button>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Don’t miss a beat!" subheading="Stay up to date on developing news." sectionClass=""}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-12 text-center join-us-newletter">
      <p class="text-muted announcement">Our newsletter is the official place to receive the latest information.  Sign up now for monthly access to critical details, timelines for registration, and for prayer requests.</p>
      <p class="join-us-newsletter-button" rel="relativeanchor">
        <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" title="Newsletter Signup" target="_blank" class="theme-button">Newsletter Signup</a>
      </p>
    </div>
  </div>
  <div class="row">
    {{#each joinUsMethods}}
    <div class="col-md-3 col-sm-6 join-us-methods">
      <p class="social-buttons"><a href="{{href}}" title="{{title}}" target="_blank"><i class="fa {{icon}} fa-4x"></i></a> </p>
      <p class="text-muted">{{{text}}}</p>
    </div>
    {{/each}}
  </div>
  {{/inline}}
  {{/pageSection}}
{{/inline}}

{{#*inline "script"}}
<script id="news-item-tpl" type="text/html">
  <div class="col-md-4 col-sm-6 news-item">
    <a href="<%- url %>" class="news-link">
      <div class="news-hover"></div>
      <div style="background-image: url(<%- image %>); background-size: <%- imageSize %>;" class="news-item-bg"></div>
    </a>
    <div class="news-caption">
      <h4><a href="<%- url %>"><%- title %></a></h4>
      <p class="text-muted"><%- published %></p>
    </div>
  </div>
</script>
<script id="registration-stats-tpl" type="text/html">
  <strong><%- data.units %> units</strong> from <strong><%- data.states %> states</strong> are bringing <strong><%- data.registered %> participants</strong>. See the <a href="/events">Details</a> for a complete listing.
</script> 
<script>
  ncounter.home.setRandomBgImage('header');
  ncounter.news.fetchShowFirstPage('#news-item-tpl', '#news')
    .then(function (hasMore) {
      if (hasMore) {
        $('.news-show-more-wrapper').show()
      } else {
        $('.news-show-more-wrapper').hide()
      }
    });
  $('.news-show-more').click(function () {
    ncounter.news.fetchShowNextPage()
      .then(function (hasMore) {
        if (hasMore) {
          $('.news-show-more-wrapper').show()
        } else {
          $('.news-show-more-wrapper').hide()
        }
      });
  });
  ncounter.liveData.fetchShowRegistrationStats('#registration-stats-tpl', '#registration-stats');
</script>
{{/inline}}
{{/layout}}