{{!
  page: 'home',
  pageName: '',
  callouts: [{
    href: '/inspire/',
    img: '/assets/img/inspired_thumb.jpg',
    title: 'Get Inspired',
    text: 'Come reminisce on 2011 with us, see what 29 Battalion units from 7 states experienced, and become inspired for what 2016 could bring!'
  }, {
    href: '/inform/',
    img: '/assets/img/informed_thumb.jpg',
    title: 'Get Informed',
    text: 'We already have tremendous plans for 2016&mdash;more CSB Battalion units, more people and more activities!  See the details develop here.'
  }, {
    href: '/involve/',
    img: '/assets/img/involved_thumb.jpg',
    title: 'Get Involved',
    text: 'Whether you belong to a Battalion or have friends in one, your prayer and financial support is critical to the N-Counter mission of discipleship.'
  }, {
    href: '/register/',
    img: '/assets/img/register_thumb.jpg',
    title: 'Register Your Unit',
    text: 'Battalion Unit Registration is now open. Captains, reserve a spot for your unit today!'
  }]
}}

{{#> layout}}
{{#*inline "content"}}
<header>
  <div class="opacity"></div>
  <div class="container">
    <div class="intro-text">
      <img class="landingPageLogo" src="/assets/img/branding/NCounterLogoBlue_200px.png" alt="CSB N-Counter Logo">
      <br><br><br><br><br>
      <div class="exploreButton">  
        <h3 style="color:#fff;">Battalion Unit Registration Has Begun!</h3>
        <a href="#content-start" rel="relativeanchor" title="Navigate through the rest of the page" ><i class="fa fa-arrow-down fa-4x opacityRaiser"></i></a>
      </div>
    </div>
  </div>
</header>
<div id="content-start" rel="relativeanchor">

  {{#> pageSection heading="N-Counter 2016" subheading="The Multi-Regional Battalion Event"}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-sm-12">
      <div id="n-counter-video" class="ncounter-purpose strong-statement">The purpose of N-Counter is to glorify God through fellowship, discipleship, and the experience of CSB Battalion across regions.</div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GBrkLl1Kq-w?rel=0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  <div class="row home__callouts">
    {{#each callouts}}
    <div class="home__callout col-md-3 col-sm-6">
      <div class="home__callout-top">
        <a href="{{href}}"><img alt="Inspired Page Image" src="{{img}}"></a>
        <h3 class="home__callout-heading"><a href='{{href}}'>{{title}}</a></h3>
      </div>
      <p class="text-muted">
        {{{text}}}
      </p>
    </div>
    {{/each}}
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="N-Counter Current News" subheading="Latest Announcements, Prayer Requests, and Event Details"}}
  {{#* inline "content"}}
  <div id="news" class="row"></div>
  <div class="row">
    <div class="col-sm-12 news-show-more news-show-more-wrapper">
      <button class="theme-button">Show Older Posts</button>
    </div>
  </div>
  {{/inline}}    
  {{/pageSection}}

  {{#> pageSection heading="Stay Connected" subheading="Don’t miss a beat!<br>Stay up to date on developing news."}}
  {{#* inline "content"}}
  <div class="row">
    <div class="col-md-12 text-center join-us-newletter">
      <p class="text-muted strong-statement">Our newsletter is the official place to receive the latest information.  Sign up now for monthly access to critical details, timelines for registration, and for prayer requests.</p>
      <p class="join-us-newsletter-button" rel="relativeanchor">
        <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=bvu45aeab&p=oi&m=1103839089313&sit=skhh77pfb&f=ea01a16c-54b9-4770-b28e-b348b7d91f16" title="Newsletter Signup" target="_blank" class="theme-button">Newsletter Signup</a>
      </p>
    </div>
  </div>
  <div class="row">
    {{#each joinUsMethods}}
    <div class="col-md-3 col-sm-6 join-us-methods">
      <p class="social-buttons"><a href="{{href}}" title="{{title}}" target="_blank"><i class="fa {{icon}} fa-4x"></i></a> </p>
      <p class="text-muted">{{{text}}}</p>
    </div>
    {{/each}}
  </div>
  {{/inline}}
  {{/pageSection}}
{{/inline}}

{{#*inline "script"}}
<script src="/assets/js/landing.js"></script>
<script id="news-item-tpl" type="text/html">
  <div class="col-md-4 col-sm-6 news-item">
    <a href="<%- url %>" class="news-link">
      <div class="news-hover"></div>
      <div style="background-image: url(<%- image %>); background-size: <%- imageSize %>;" class="news-item-bg"></div>
    </a>
    <div class="news-caption">
      <h4><a href="<%- url %>"><%- title %></a></h4>
      <p class="text-muted"><%- published %></p>
    </div>
  </div>
</script>
<script>
  ncounter.setRandomBgImage('header');
  ncounter.news.fetchShowFirstPage('#news-item-tpl', '#news')
    .then(function (hasMore) {
      if (hasMore) {
        $('.news-show-more-wrapper').show()
      } else {
        $('.news-show-more-wrapper').hide()
      }
    });

  $('.news-show-more').click(function () {
    ncounter.news.fetchShowNextPage()
      .then(function (hasMore) {
        if (hasMore) {
          $('.news-show-more-wrapper').show()
        } else {
          $('.news-show-more-wrapper').hide()
        }
      });
  });
</script>
{{/inline}}
{{/layout}}